.view-contacto .view-mode-full{
	position: relative;
}
.view-contacto .view-mode-full .contacto{
	position: absolute;
	top: 200px;
	left: 15%;
}
.contacto .field{
	font-family: sans-serif;
	margin: 5px 0;
}
.contacto .field.field-name-title h2{
	font-family: 'coco-light';
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: solid 1px;
}
.contacto .field.field-name-field-email{
	margin-top: 0px;
	padding: 0 10px 10px 0;
	border-bottom: solid 1px black;
	display: inline-block;
}