.view-fotografia .views-row .field-name-title p{
	font-family: 'coco-light';
	font-size: 16px;
	margin: 5px;
}
.view-fotografia .views-row{
	margin: 35px 0;
}
.view-fotografia .views-row .field-name-field-fecha-foto div{
	font-family: 'Helvetica';
	font-size: 14px;
}
.view-fotografia img{
	max-width: 100%;
	height: auto;
}
@media (min-width: 600px) {
	.pane-views-fotografia-block{
		width: 800px;
		margin: 0 auto;
		text-align: center;
	}
	.view-fotografia .views-row .field-name-title p{
		text-align: left;
	}
	.view-fotografia .field-name-field-fecha-foto{
		text-align: left;
	}
}