/* Coco Regular
----------------------------------------------------------------------- */
@font-face {
  font-family: 'coco-regular';
  src: url('../fonts/coco/regular/CocoGothic.eot');
  src: url('../fonts/coco/regular/CocoGothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/coco/regular/CocoGothic.woff2') format('woff2'),
       url('../fonts/coco/regular/CocoGothic.woff') format('woff'),
       url('../fonts/coco/regular/CocoGothic.ttf') format('truetype'),
       url('../fonts/coco/regular/CocoGothic.svg#EurostileLTStd-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Light
----------------------------------------------------------------------- */
@font-face {
  font-family: 'coco-light';
  src: url('../fonts/coco/light/CocoGothic-Light.eot');
  src: url('../fonts/coco/light/CocoGothic-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/coco/light/CocoGothic-Light.woff2') format('woff2'),
       url('../fonts/coco/light/CocoGothic-Light.woff') format('woff'),
       url('../fonts/coco/light/CocoGothic-Light.ttf') format('truetype'),
       url('../fonts/coco/light/CocoGothic-Light.svg#EurostileLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Bold
----------------------------------------------------------------------- */
@font-face {
  font-family: 'coco-bold';
  src: url('../fonts/coco/bold/CocoGothic-Bold.eot');
  src: url('../fonts/coco/bold/CocoGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/coco/bold/CocoGothic-Bold.woff2') format('woff2'),
       url('../fonts/coco/bold/CocoGothic-Bold.woff') format('woff'),
       url('../fonts/coco/bold/CocoGothic-Bold.ttf') format('truetype'),
       url('../fonts/coco/bold/CocoGothic-Bold.svg#EurostileLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}