body, html{
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'coco-regular';
}

ul{
	padding: 0;
}

h2.pane-title{
	border-bottom: solid 2px black;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'coco-bold';
	display: inline-block;
	padding: 0 20px;
}

a{
	color: black;
	text-decoration: none;
}

a.active{
	font-family: 'coco-bold';
	border-bottom: solid 1px black;
}

img{
	max-width: 100%;
	height: auto;
}

.view-id-sliderview .flexslider{
	border: 0;
}

.pager-load-more a{
	padding: 20px 5px 5px;
	border-bottom: solid 1px;
}
body #backtotop{
	background: url(../img/boton-ascenso.jpg) no-repeat center center;
}