
.view-proyectos .views-widget-filter-field_categor_a_tid,
.view-proyectos .views-widget-filter-field_categor_a_tid .views-widget{
	width: 100%;
}

.view-proyectos .flexslider.flexslider-processed{
	border: 0;
}
.view-proyectos .views-widget-filter-field_categor_a_tid label{
	display: none;
}
.views-widget-filter-field_categor_a_tid .form-item.form-type-bef-link{
	display: inline-block;
	padding: 10px 5%;
}
.views-widget-filter-field_categor_a_tid .form-item.form-type-bef-link a{
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px;
}
.views-widget-filter-field_categor_a_tid .form-item.form-type-bef-link a.active{
	border-bottom: solid 1px black;
}

.view-proyectos .view-content .views-row .flexslider{
	margin: 0;
	overflow: hidden;
	max-width: 100%;
}

/*-- Presentación bloque proyectos --*/
.view-proyectos .view-content .views-row{
	display: inline-block;
	position: relative;
	margin-bottom: 27px;
}

.field-name-node-link{
	margin: 50px;
}
.field-name-node-link a{
	padding: 2px 10px;
	border: solid 1px;
	color: white;
	font-size: 14px;
}
