@media (max-width: 600px) {
	.main-footer{
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.main-footer .info > div{
		margin: 2px 0px;
	}
	.main-footer .redes{
		display: block !important;
		float: none !important;
		text-align: center;
		width: 100%;
		margin-top: 5px;
	}
	.main-footer .redes .item-red{
    width: 20px !important;
    height: 20px !important;
	}
	.group-info-contact.field-group-div.contacto{
		display: none;
	}
}