@media (max-width: 600px) {
	.node-proyecto .group-proyecto-wrapper{
		max-width: 100%;
	}
	.view-fotografia .node-fotograf-a .views-row .field-name-title p,
	.view-fotografia .node-fotograf-a div{
		text-align: center !important;
	}
	
	.view-contacto .view-mode-full .group-info-contact.contacto{
		position: static;
		text-align: center;
		padding: 0 20px;
	}
	.group-info-contact.contacto .field h2{
		font-size: 15px;
	}
	.group-info-contact.contacto .field.field-name-field-email{
		border-bottom: none;
	}
}