@media (max-width: 600px) {
	.main-menu{
		display: block;
		width: 70%;
		position: absolute;
		z-index: 99;
		background: white;
		top: 0;
		height: 100%;
		padding: 30px 15px;
		transform: translate(-100%, 0);
		-webkit-transition: all 0.4s; /* Safari */
		transition: all 0.4s;
	}
	.main-menu.activo {
		transform: translate(0, 0);
		-webkit-transition: all 0.4s; /* Safari */
		transition: all 0.4s;
	}
	.main-menu ul li{
		display: block;
		margin: 0px;
		border-bottom: solid 1px black; 
	}
	.main-menu ul li a{
		display: block;
		width: 100%;
		padding: 15px 0;
	}
	.main-menu ul li a.active{
		padding-left: 10px;
	}
	.activeMenu{
		background-image: url('../img/menu.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		width: 25px;
		height: 19px;
		margin: 15px;
	}
	.closeMenu{
		text-align: right;
	}
	.closeMenu span{
		border: solid 1px;
		padding: 1px 5px;
	}
	.main-logo{
		margin: 15px 0;
		padding: 0 20px;
	}
	.view-sliderview .flexslider{
		margin: 15px 0;
	}

}