@media (max-width: 600px) {
  
	.pane-views-proyectos-block,
	.pane-views-fotografia-block,
	.view-proyectos .view-content .views-row{
		width: 100% !important;
	}
	
	.view-proyectos .view-content .views-row .flexslider img{
		width: 100%;
		height: auto;
	}
	
	.view-proyectos .group-info-proyecto{
		text-align: center;
		margin: 10px 0;
	}
	.view-proyectos .group-info-proyecto h2{
		margin: 0px;
	}
	.pane-views-proyectos-block .view-proyectos .view-content .views-row{
		margin-bottom: 0;
	}
	
	.view-proyectos .view-filters{
		background: #E6E4E4;
		text-align: center;
	}
	.view-proyectos .view-filters .form-item.form-type-bef-link{
		padding: 10px 5px;
	}
	.node-proyecto .group-proyecto-wrapper > .field{
		padding: 0px 15px;
	}
	.node-proyecto .field-name-node-link{
		display: none;
	}
	.view-proyectos .views-widget-filter-field_categor_a_tid{
		padding: 0;
	}
	
}