.pane-views-biograf-a-block{
	text-align: center;
}
.field-name-field-foto-biografia img{
	width: 100%;
}
.pane-views-biograf-a-block .field-name-body{
	margin: 40px auto 0;
	text-align: justify;
	font-family: 'Helvetica';
}

@media (max-width: 600px) {
	.view-biograf-a .field-name-body{
		padding: 0 15px;
	}
}

@media (min-width: 600px) {
	.pane-views-biograf-a-block .field-name-body{
		width: 1024px;
	}
}