@media (min-width: 600px) {
	.main-footer{
		width: 1000px;
		padding: 15px 40px;
		margin: 30px auto 0;
	}
}

.main-footer{
	border-top: solid 2px black;
}
.main-footer .info{
	font-size: 14px;
	font-family: 'Helvetica';
	display: inline-block;
}
.main-footer .info .item-info{
	margin: 0 10px;
	display: inline-block;
}
.main-footer .redes{
	display: inline-block;
	float: right;
}
.main-footer .redes .item-red{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 10px;
	background-size: 100%;
	cursor: pointer;
}
.redes .item-red.behance{background-image: url('../img/behance.png');}
.redes .item-red.facebook{background-image: url('../img/facebook.png');}
.redes .item-red.instagram{background-image: url('../img/instagram.png');}
.redes .item-red.pinterest{background-image: url('../img/pinterest.png');}