header.main-header{
	background: white;
	z-index: 99;
}

.main-menu a{
	text-transform: uppercase;
	font-size: 14px;
}

.main-menu li{
	display: inline-block;
}

.main-logo{
	text-align: center;
}

.main-logo .name{
	font-family: 'coco-bold';
	border-bottom: solid 2px black;
	font-size: 22px;
	letter-spacing: 3px;
}

.main-logo .arq{
	font-family: 'coco-light';
	font-size: 12px;
	margin-top: 5px;
	letter-spacing: 5px;
}

@media (min-width: 600px) {
	header.main-header{
		/*position: fixed;
		top: 0;
		left: 0;
		right: 0;*/
	}
	.activeMenu,
	.closeMenu{
		display: none;
	}

	.main-menu{
		display: inline-block;
		float: right;
		padding: 20px 50px;
	}
	.main-logo{
		display: inline-block;
		padding: 20px 50px;
	}
	.main-container{
		/*margin-top: 95px;*/
	}
}