.field-name-field-imagen-principal img{
	width: 100%;
	height: auto;
	margin: 25px 0;
}

.group-proyecto-wrapper{
	width: 1000px;
	margin: 0 auto;
	font-family: sans-serif;
}

.node-proyecto.view-mode-full .field-name-title h2{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	font-size: 30px;
}

.node-proyecto.view-mode-full .field-name-field-categor-a{
	text-align: center;
	text-transform: uppercase;
}
.node-proyecto.view-mode-full .field-name-field-categor-a .field-item{
	padding: 10px 25px;
	border-top: solid 2px black;
	display: inline-block;
	font-size: 20px;
}

.group-proyecto-wrapper .field-label,
.group-proyecto-wrapper .field-items{
	display: inline-block;
}
.group-proyecto-wrapper .field-name-body .field-items{
	display: block;
}
.field-name-field-brochure-field iframe{
	width: 100%;
	height: 420px;
}
.group-proyecto-wrapper > .field{
	margin: 10px 0;
}

.node-proyecto.view-mode-full .field-name-field-galeria-proyecto .field-item{
	margin: 40px 0;
}

.group-proyecto-wrapper img{
	width: 100%;
}