/*------------------- Desktop -----------------------*/
@media (min-width: 600px) {
	.view-proyectos .view-content .views-row .flexslider img{
		height: 375px;
		width: auto;
	}
	.view-proyectos .view-content .views-row.views-row-first{
		width: 100% !important;
		height: 500px;
		overflow: hidden;
	}
	.view-proyectos .view-content .views-row.views-row-first img{
		width: 100%;
		height: auto;
	}
	.view-proyectos .view-content .views-row:nth-child(4n-2),
	.view-proyectos .view-content .views-row:nth-child(4n-3){
		width: 60%;
	}

	.view-proyectos .view-content .views-row:nth-child(4n),
	.view-proyectos .view-content .views-row:nth-child(4n-1){
		width: 37%;
	}
	.view-proyectos .view-content .views-row:nth-child(4n) img,
	.view-proyectos .view-content .views-row:nth-child(4n-1) img{
		margin-left: -11%;
	}
	.view-proyectos .view-content .views-row img{
		max-width: none;
	}

	.view-proyectos .view-content .views-row:nth-child(4n-2),
	.view-proyectos .view-content .views-row:nth-child(4n){
		float: left;
	}
	.view-proyectos .view-content .views-row:nth-child(4n-3),
	.view-proyectos .view-content .views-row:nth-child(4n-1){
		float: right;
	}
	/*-- Info Proyecto --*/
	.view-proyectos .views-row:hover .group-info-proyecto{
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 65px 15%;
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}

	.view-proyectos .group-info-proyecto .field-name-title a{
		font-size: 35px;
		text-transform: uppercase;
		color: white;
		padding: 20px 0;
	}
	.view-proyectos .view-content .group-info-proyecto{
		top: 50%;
		bottom: 50%;
		left: 50%;
		right: 50%;
		position: absolute;
		background: rgba(0,0,0,0.7);
		padding: 0;
		z-index: 10;
		color: white;
		overflow: hidden;
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}
	.view-proyectos .views-row:nth-child(1) .group-info-proyecto{
		padding-top: 20%;
	}
	.view-proyectos .views-row:nth-child(1) .group-info-proyecto .field-name-title a{
		font-size: 40px;
	}
	.view-proyectos .group-info-proyecto .field-name-field-categor-a{
		display: inline-block;
		padding: 10px 55px;
		border-top: solid 2px white;
		color: white;
		font-size: 20px;
		text-transform: uppercase;
	}
	.pane-views-proyectos-block{
		width: 1024px;
		margin: 0 auto;
		text-align: center;
	}
}



