.pane-views-publicaciones-block img{
	width: 100%;
}
.view-publicaciones .field{
	font-family: sans-serif;
	margin: 5px 0;
}
.view-publicaciones .field.field-name-title h2{
	font-family: 'coco-bold';
	text-transform: uppercase;
}
.view-publicaciones .field-name-field-imagen-publicacion{
	margin-top: 20px;
}
@media (max-width: 600px) {
	.view-publicaciones{
		margin-top: 0;
		text-align: center;
	}
}

@media (min-width: 600px) {
	.pane-views-publicaciones-block{
		width: 500px;
		margin: 0 auto;
	}

	.view-publicaciones{
		margin-top: 30px;
	}
}